# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json


# Import API key
from api_keys import g_key

weather_Output_file = "output_data/weather_Output"

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
#weather_Output = pd.read_csv("weather_Output_file", encoding="utf-8")
Cities = pd.read_csv(weather_Output_file)
del Cities["Unnamed: 0"]
Cities.head(20)

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,punta arenas,1,PH,1586610785,74,8.99,125.34,77.68,3.98
1,maragogi,60,BR,1586611260,66,-9.01,-35.22,85.05,7.70
2,ribeira grande,75,ES,1586610796,76,42.75,-8.44,61.00,4.70
3,saint-joseph,40,RE,1586611260,65,-21.37,55.62,80.60,26.40
4,bilma,90,NE,1586611260,9,18.69,12.92,96.19,12.46
5,ushuaia,40,AR,1586610546,60,-54.80,-68.30,42.80,4.70
6,khatanga,100,RU,1586610796,95,71.97,102.50,16.68,17.92
7,nurota,100,UZ,1586611261,72,40.56,65.69,66.20,16.11
8,nsoko,28,SZ,1586611261,57,-27.03,31.95,80.60,8.23
9,pangnirtung,100,CA,1586610667,84,66.15,-65.71,18.54,2.19
10,noumea,46,NC,1586611261,83,-22.28,166.46,69.80,2.24
11,rikitea,86,PF,1586610788,75,-23.12,-134.97,76.86,6.22
12,kaitangata,24,NZ,1586610776,75,-46.28,169.85,52.34,4.50
13,katsuura,75,JP,1586610771,58,35.13,140.30,55.40,13.87
14,bredasdorp,100,ZA,1586610780,41,-34.53,20.04,77.00,4.70
15,puerto ayora,92,ES,1586610803,49,36.59,-6.23,75.20,5.82
16,hobart,40,AU,1586610773,76,-42.88,147.33,51.80,8.05
17,georgetown,20,MY,1586610603,70,5.41,100.34,87.80,4.70
18,albany,40,US,1586610598,52,42.60,-73.97,41.00,19.46
19,kodiak,90,US,1586610595,80,57.79,-152.41,39.20,13.87

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps
gmaps.configure(api_key=g_key)

# Locations
locations = Cities[["Lat", "Lng"]]

humidity = Cities["Humidity"].astype(float)

In [4]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=2)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
vacation_no_cloud = Cities[Cities["Cloudiness"] == 0]

# Filter vacation with max temp above 70 degrees F
vacation_above_70_degrees = vacation_no_cloud[vacation_no_cloud["Max Temp"] > 70]
# # Filter vacation with max temp below 80 degrees F
vacation_below_80_degrees = vacation_above_70_degrees[vacation_above_70_degrees["Max Temp"] < 80]
# # Filter vacation with wind speed below 10 mph
vacation_slow_wind = vacation_below_80_degrees[vacation_below_80_degrees["Wind Speed"] < 10]
# # Filter vacation with humidity below 60 %
perfect_vacation = vacation_slow_wind[vacation_slow_wind["Humidity"] < 60]
# # Set Index
indexed_perfect_vacation = perfect_vacation.reset_index()
# del indexed_perfect_vacation["index"]
indexed_perfect_vacation

,index,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,90,manica,0,FR,1586611267,36,49.00,-1.17,75.20,2.24
1,165,tezu,0,IN,1586611145,25,27.92,96.17,79.32,1.70
2,283,anamur,0,TR,1586611014,38,36.08,32.84,73.40,9.17
3,298,porto-vecchio,0,FR,1586611284,27,41.59,9.28,73.40,9.17
4,351,kardamas,0,GR,1586611288,43,37.77,21.33,71.60,9.17
5,464,quimper,0,FR,1586611297,50,48.00,-4.10,75.20,9.17
6,478,saint-francois,0,FR,1586610789,27,46.42,3.91,78.01,3.36
7,481,siena,0,IT,1586611298,36,43.22,11.40,77.00,4.70
8,519,cap malheureux,0,FR,1586611302,33,49.27,-1.21,75.20,5.82

In [6]:
vaca_locations = indexed_perfect_vacation[["Lat", "Lng"]]

vaca_humidity = indexed_perfect_vacation["Humidity"].astype(float)

# Plot Heatmap
Hotel_Map = gmaps.figure()

# Create heat layer
vaca_heat_layer = gmaps.heatmap_layer(vaca_locations, weights=vaca_humidity, 
                                 dissipating=False, max_intensity=50,
                                 point_radius=2.5)

# Add layer
Hotel_Map.add_layer(vaca_heat_layer)

# Display figure
Hotel_Map

Figure(layout=FigureLayout(height='420px'))

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
hotels = []

# Loop through narrowed down dataframe to get nearest hotel
for city in range(len(indexed_perfect_vacation["City"])):

    lat = indexed_perfect_vacation.loc[city]["Lat"]
    lng = indexed_perfect_vacation.loc[city]["Lng"]

    city_coords = f"{lat},{lng}"

    params = {
        "location": city_coords, 
        "types": "lodging",
        "radius": 5000,
        "key": g_key
    }

    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"   

    hotel_request = requests.get(base_url, params=params)
    hotel_response = hotel_request.json()

    try:
        hotels.append(hotel_response["results"][0]["name"])
    except:
        hotels.append("Nearest hotel not found")

# Dataframe with nearest hotel
indexed_perfect_vacation["Hotel"] = hotels
narrowed_city_df = indexed_perfect_vacation
hotel_df = indexed_perfect_vacation

In [8]:
narrowed_city_df=hotel_df.rename(columns={'Hotel':'Hotel Name'})
narrowed_city_df

,index,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
0,90,manica,0,FR,1586611267,36,49.00,-1.17,75.20,2.24,Gite Lily
1,165,tezu,0,IN,1586611145,25,27.92,96.17,79.32,1.70,Circuit House
2,283,anamur,0,TR,1586611014,38,36.08,32.84,73.40,9.17,Luna Piena Beach Hotel
3,298,porto-vecchio,0,FR,1586611284,27,41.59,9.28,73.40,9.17,Hôtel Le Goéland - Casa Santini
4,351,kardamas,0,GR,1586611288,43,37.77,21.33,71.60,9.17,Sunshine Villas
5,464,quimper,0,FR,1586611297,50,48.00,-4.10,75.20,9.17,Hôtel Oceania Quimper
6,478,saint-francois,0,FR,1586610789,27,46.42,3.91,78.01,3.36,Manoir Du Bonheur
7,481,siena,0,IT,1586611298,36,43.22,11.40,77.00,4.70,More Di Cuna
8,519,cap malheureux,0,FR,1586611302,33,49.27,-1.21,75.20,5.82,Hôtel Kyriad Carentan

In [9]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content= [f"Nearest Hotel: {hotel}" for hotel in hotels])
Hotel_Map.add_layer(markers)

plt.savefig("Images/Hotel_Map")

# Display Map
Hotel_Map